
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

logs/
test-output/
src/test/resources/grid-1/
src/test/resources/grid-2/
src/test/resources/screenshots/
reports/